<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add User</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <h1>Add User</h1>

    <form method="post">
        <label>
            Username:
           <input type="text" name="username" th:value="${username}"/>
        </label>
        <label>
            Email:
            <input type="email" name="email" th:value="${email}"/>
        </label>
        <label>
            Password:
            <input type="password" name="password"/>
        </label>
        <label>
            Verify Password: <span th:if="${error}" style="color:red;">PASSWORDS MUST MATCH</span>
            <input type="password" name="verifyPassword"/>
        </label>

        <input type="submit" value="Add User" />
    </form>

</body>
</html>